#features{
    width: 100vw;
    height: 100vh;
    background: url("../images/girl-kissing-dog.jpg") no-repeat;
    background-size: auto 100vh;
    background-position: center;

}

#featuresText{
    max-width: 40vw;
    padding: 20px;
    height: auto;
    transform: translate(7%, 30%);
    font-family: var(--primaryFont);
    font-weight: 20;
    font-size: xx-large;
    background: var(--easterPink);
    color: var(--primaryTextColor);
}
