#team{
    width: 93vw;
    height: 80vh;
    justify-content: center;
    margin: 3vw 3vw 3vw;
  }

  #team img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  #team h2{
    color: white;
    font-weight: bold;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  #team h4{
    color: black;
    font-weight: bold;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  #team h5{
    color: white;
    font-weight: bold;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  
  .btn-group{
    padding-top: 1vh;
    width: 100%;
    justify-content: center;
  }
  .btn-group button {
    background-color: #333; 
    border: 2px solid #333; 
    color: white;
    padding: 5px 10px; 
    cursor: pointer; 
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
  }
  .btn-group button:hover{
    background-color: white; 
    border: 2px solid white; 
    color: #333;
  }

  a:link, a:visited{
    color: white;
  }

  #cardStyle{
    background-color: #E4A58F;
    border-width: thick;
    border-color: #333;
  }

  .card{
    margin-bottom: 2em;
  }
  
  @media only screen and (max-width: 575px){
    .card{
      margin-bottom: 10em;
    }
    .btn-group button {
      font-size: 3vw;
    }
  }