#team{
    width: 93vw;
    justify-content: center;
    margin: 3vw 3vw 3vw;
  }

  #team img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  #team h2{
    color: white;
    font-weight: bold;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  #team h4{
    color: #333;
    font-weight: bold;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  #team h5{
    color: white;
    font-weight: bold;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  
  .btn-group{
    padding-top: 0.5vh;
    width: 100%;
    justify-content: center;
  }
  
  .button {
    background-color: var(--primaryButtonColor); 
    border: 2px solid var(--primaryButtonColor); 
    color: white;
    padding: 7px 10px; 
    cursor: pointer; 
    text-align: center;
    display: inline-block;
    font-size: 1.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px 5px 0 5px;
  }
  .button:hover{
    background-color: white; 
    border: 2px solid white; 
    color: var(--primaryButtonColor);
    text-decoration: none;
  }

  #cardStyle{
    background-color: var(--easterPink);
    border-width: thick;
    border-color: var(--primaryButtonColor);
  }

  .card{
    margin-bottom: 2em;
  }
  
  @media only screen and (max-width: 575px){
    .card{
      margin-bottom: 10em;
    }
    .button {
      font-size: 3vw;
    }
  }